body {
    background-color: palegreen;
    color: palevioletred;
}

.strikeout {
    text-decoration: line-through;
}

.priority {
    color: purple;
    font-weight: bold;
}

.counter {
    color: black;
    padding: 0;
    margin: 0;
    font-size: small;
}
